body * {
    box-sizing: border-box;
}

h1 {
    color: #3f51b5;
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    margin-top: 0;
}

a, a:link, a:hover, a:active, a:focus {
    color: #3f51b5;
}

.col-1-2 {
    float: left;
    width: 30%;
    padding-right: 15px;
}

.col-2-2 {
    float: left;
    width: 70%;
}

ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.menu > li {
    margin: 0;
    padding: 0;
}

ul.menu > li > a {
    display: block;
    padding: 5px;
}

ul.menu > li.selected > a,
ul.menu > li.selected > a:link {
    font-weight: bold;
}

.wrapper {
    max-width: 850px;
    margin: 0 auto;
    padding: 30px 15px;
}

.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 1px;
}

.label-tags {
    padding-top: 10px;
    border-top: 1px dashed grey;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid gray;
}

select {
    width: 100%;
    padding: 5px;
    border: 1px solid gray;
}

.button {
    display: inline-block;
    padding: 8px 12px;
    
    border: 1px solid #3F51B5;
    border-bottom-width: 2px;
    border-radius: 3px;
    
    background: #fff;
    
    font-size: 16px;
    font-family: serif;
    color: #3F51B5;
    text-decoration: none;
    
    cursor: pointer;
}

button.delete {
    background-color: red;
    border: 1px solid maroon;
}

form button {
    margin-top: 10px;
}

ul.references {
    list-style: none;
    
    margin: 0;
    padding: 15px 0;
    
    border-bottom: 1px dashed grey;
}

.conditional .case {
    display: none;
}

.conditional .case.selected {
    display: block;
}

.success {
    padding: 6px 15px;
    border: 1px solid green;
    border-radius: 3px;
    margin-bottom: 15px;
    color: green;
}