<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage references</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="style.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <h1>References</h1>
        <h2>Add a reference</h2>
        <form action="#" th:action="@{/references/article}" th:object="${article}" method="post">
            <label for="reference-type">Type</label>
            <select id="reference-type">
                <option value="article">Article</option>
            </select>
            <label for="reference-author">Author</label>
            <input type="text" th:field="*{author}" id="reference-author" />
            <label for="reference-journal">Journal</label>
            <input type="text" th:field="*{journal}" id="reference-journal" />
            <label for="reference-month">Month</label>
            <input type="text" th:field="*{month}" id="reference-month" />
            <label for="reference-note">Note</label>
            <input type="text" th:field="*{note}" id="reference-note" />
            <label for="reference-number">Number</label>
            <input type="text" th:field="*{number}" id="reference-number" />
            <label for="reference-pages">Pages</label>
            <input type="text" th:field="*{pages}" id="reference-pages" />
            <label for="reference-title">Title</label>
            <input type="text" th:field="*{title}" id="reference-title" />
            <label for="reference-volume">Volume</label>
            <input type="text" th:field="*{volume}" id="reference-volume" />
            <label for="reference-year">Year</label>
            <input type="text" th:field="*{year}" id="reference-year" />
            <button type="submit" class="button">Add a reference</button>
        </form>

        <h2>BibTex</h2>
        <a href="/export" class="button">Create a BibTex file</a>

    </div>
</body>
</html>