<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Manage references</title>
        <link href="/assets/style.css" rel="stylesheet" />
    </head>
    <body>
        <div class="wrapper">
            <h1>References</h1>
            <div class="col-1-2">
                <ul class="menu">
                    <li>
                        <a th:href="@{/new}">Add a reference</a>
                    </li>
                    <li class="selected">
                        <a th:href="@{/export}">Export references</a>
                    </li>
                    <li>
                        <a th:href="@{/references}">List references</a>
                    </li>
                </ul>
            </div>
            <div class="col-2-2">
                <h2>Export references</h2>
                <div th:if="${success}">
                    BibTeX file successfully generated!<br /><br />
                    <a th:href="@{${filePath}}" class="button">Download</a>
                </div>
                <div th:if="not ${success}">
                    <form action="#" th:action="@{/export}" method="post">
                        <label for="export-filename">Filename (without .bib):</label>
                        <input type="text" name="name" id="export-filename" placeholder="references" />
                        <button type="submit" class="button">Generate a BibTeX file</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>