<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage references</title>
    <link href="/style.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <h1>References</h1>
        <div class="col-1-2">
            <ul class="menu">
                <li class="selected">
                    <a th:href="@{/new}">Add a reference</a>
                </li>
                <li>
                    <a th:href="@{/export}">Export references</a>
                </li>
            </ul>
        </div>
        <div class="col-2-2">
            <h2>Add a reference</h2>
            <div th:if="${success}">
                Reference added successfully!
            </div>
            <form action="#" th:action="@{/new}" th:object="${article}" method="post">
                <label for="reference-type">Type</label>
                <select id="reference-type">
                    <option value="article">Article</option>
                </select>
                <label for="reference-key">Key</label>
                <input type="text" th:field="*{key}" id="reference-key" />
                <label for="reference-author">Author</label>
                <input type="text" th:field="*{author}" id="reference-author" />
                <label for="reference-journal">Journal</label>
                <input type="text" th:field="*{journal}" id="reference-journal" />
                <label for="reference-month">Month</label>
                <input type="text" th:field="*{month}" id="reference-month" />
                <label for="reference-note">Note</label>
                <input type="text" th:field="*{note}" id="reference-note" />
                <label for="reference-number">Number</label>
                <input type="text" th:field="*{number}" id="reference-number" />
                <label for="reference-pages">Pages</label>
                <input type="text" th:field="*{pages}" id="reference-pages" />
                <label for="reference-title">Title</label>
                <input type="text" th:field="*{title}" id="reference-title" />
                <label for="reference-volume">Volume</label>
                <input type="text" th:field="*{volume}" id="reference-volume" />
                <label for="reference-year">Year</label>
                <input type="text" th:field="*{year}" id="reference-year" />
                <button type="submit" class="button">Add a reference</button>
            </form>
        </div>
    </div>
</body>
</html>