<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Manage references</title>
        <link href="/assets/style.css" rel="stylesheet" />
    </head>
    <body>
        <div class="wrapper">
            <h1>References</h1>
            <div class="col-1-2">
                <ul class="menu">
                    <li>
                        <a th:href="@{/new}">Add a reference</a>
                    </li>
                    <li>
                        <a th:href="@{/export}">Export references</a>
                    </li>
                    <li class="selected">
                        <a th:href="@{/references}">List references</a>
                    </li>
                </ul>
            </div>

            <!-- description list instead? (or some kind of table)-->

            <div class="col-2-2">
                <div th:if="${not #lists.isEmpty(articles)}">
                    <h3>Articles</h3>
                    <ul style="list-style-type: none;" th:each="article : ${articles}" th:object="${article}">
                        <li style="font-weight: bold;" th:text="*{key}" />
                        <li style="font-weight: bold;" th:text="*{title}" />
                        <li>
                            <ul>
                                <li th:text="'Author: ' + *{author}" />
                                <li th:text="'Journal: ' + *{journal}" />
                                <li th:text="'Year: ' + *{year}" />

                                <li th:unless="*{#strings.isEmpty(month)}" th:text="'Month: ' + *{month}" />
                                <li th:unless="*{#strings.isEmpty(note)}" th:text="'Note: ' + *{note}" />
                                <li th:unless="*{#strings.isEmpty(number)}" th:text="'Number: ' + *{number}" />
                                <li th:unless="*{#strings.isEmpty(pages)}" th:text="'Pages: ' + *{pages}" />
                                <li th:unless="*{#strings.isEmpty(volume)}" th:text="'Volume:  ' + *{volume}" />
                            </ul>
                        </li>
                    </ul>
                </div>

                <div th:if="${not #lists.isEmpty(books)}">
                    <h3>Books</h3>
                    <ul style="list-style-type: none;" th:each="book : ${books}" th:object="${book}">
                        <li style="font-weight: bold;" th:text="*{key}" />
                        <li style="font-weight: bold;" th:text="*{title}" />
                        <li>
                            <ul>
                                <!-- <li th:unless="*{#strings.isEmpty(author)}" th:text="'Author: ' + *{author}" />
                                     <li th:unless="*{#strings.isEmpty(editor)}" th:text="'Editor: ' + *{editor}" />                        -->
                                <li th:text="'Author: ' + *{author}" />
                                <li th:text="'Publisher: ' + *{publisher}" />
                                <li th:text="'Year: ' + *{year}" />

                                <li th:unless="*{#strings.isEmpty(month)}" th:text="'Month: ' + *{month}" />
                                <li th:unless="*{#strings.isEmpty(note)}" th:text="'Note: ' + *{note}" />
                                <li th:unless="*{#strings.isEmpty(number)}" th:text="'Number: ' + *{number}" />
                                <li th:unless="*{#strings.isEmpty(edition)}" th:text="'Edition: ' + *{edition}" />
                                <li th:unless="*{#strings.isEmpty(volume)}" th:text="'Volume:  ' + *{volume}" />
                                <li th:unless="*{#strings.isEmpty(series)}" th:text="'Series: ' + *{series}" />
                                <li th:unless="*{#strings.isEmpty(address)}" th:text="'Address: ' + *{address}" />
                            </ul>
                        </li>
                    </ul>
                </div>

                <div th:if="${not #lists.isEmpty(inproceedings)}">
                    <h3>Inproceedings</h3>
                    <ul style="list-style-type: none;" th:each="inproc : ${inproceedings}" th:object="${inproc}">
                        <li style="font-weight: bold;" th:text="*{key}" />
                        <li style="font-weight: bold;" th:text="*{title}" />
                        <li>
                            <ul>
                                <li th:text="'Author: ' + *{author}" />                           
                                <li th:text="'Booktitle: ' + *{booktitle}" />
                                <li th:text="'Year: ' + *{year}" />

                                <li th:unless="*{#strings.isEmpty(month)}" th:text="'Month: ' + *{month}" />
                                <li th:unless="*{#strings.isEmpty(note)}" th:text="'Note: ' + *{note}" />
                                <!-- <li th:unless="*{#strings.isEmpty(number)}" th:text="'Number: ' + *{number}" />-->
                                <li th:unless="*{#strings.isEmpty(editor)}" th:text="'Editor: ' + *{editor}" />
                                <li th:unless="*{#strings.isEmpty(organization)}" th:text="'Organization: ' + *{organization}" />
                                <li th:unless="*{#strings.isEmpty(publisher)}" th:text="'Publisher: ' + *{publisher}" />
                                <li th:unless="*{#strings.isEmpty(pages)}" th:text="'Pages: ' + *{pages}" />
                                <li th:unless="*{#strings.isEmpty(volume)}" th:text="'Volume:  ' + *{volume}" />
                                <li th:unless="*{#strings.isEmpty(series)}" th:text="'Series: ' + *{series}" />
                                <li th:unless="*{#strings.isEmpty(address)}" th:text="'Address: ' + *{address}" />
                            </ul>
                        </li>
                    </ul>
                </div>

                <!--                <h2>References</h2>
                                <ul style="list-style-type: none;" th:each="reference : ${references}" th:object="${reference}">
                                    <li style="font-weight: bold;" th:text="*{key}" />
                                    <li style="font-weight: bold;" th:text="*{title}" />
                                    <li>
                                        <ul>
                                            <li>BibTex type: <span th:text="*{bibtype}"></span></li>
                                            <li th:unless="*{#strings.isEmpty(author)}" th:text="'Author: ' + *{author}" />  
                                            <li th:unless="*{#strings.isEmpty(editor)}" th:text="'Editor: ' + *{editor}" /> 
                                            <li th:unless="*{#strings.isEmpty(booktitle)}" th:text="'Booktitle: ' + *{booktitle}" />
                                            <li th:unless="*{#strings.isEmpty(journal)}" th:text="'Journal: ' + *{journal}" />
                                            <li th:unless="*{#strings.isEmpty(month)}" th:text="'Year: ' + *{year}" />
                                            <li th:unless="*{#strings.isEmpty(month)}" th:text="'Month: ' + *{month}" />
                                            <li th:unless="*{#strings.isEmpty(note)}" th:text="'Note: ' + *{note}" />
                                            <li th:unless="*{#strings.isEmpty(number)}" th:text="'Number: ' + *{number}" />
                                            <li th:unless="*{#strings.isEmpty(pages)}" th:text="'Pages: ' + *{pages}" />
                                            <li th:unless="*{#strings.isEmpty(volume)}" th:text="'Volume:  ' + *{volume}" />
                                            <li th:unless="*{#strings.isEmpty(organization)}" th:text="'Organization: ' + *{organization}" />
                                            <li th:unless="*{#strings.isEmpty(publisher)}" th:text="'Publisher: ' + *{publisher}" />
                                            <li th:unless="*{#strings.isEmpty(series)}" th:text="'Series: ' + *{series}" />
                                            <li th:unless="*{#strings.isEmpty(address)}" th:text="'Address: ' + *{address}" />
                                            <li th:unless="*{#strings.isEmpty(annote)}" th:text="'Annote: ' + *{annote}" />
                                            <li th:unless="*{#strings.isEmpty(chapter)}" th:text="'Chapter: ' + *{chapter}" />
                                            <li th:unless="*{#strings.isEmpty(crossref)}" th:text="'Crossref: ' + *{crossref}" />
                                            <li th:unless="*{#strings.isEmpty(edition)}" th:text="'Edition: ' + *{edition}" />
                                            <li th:unless="*{#strings.isEmpty(howpublished)}" th:text="'Howpublished: ' + *{howpublished}" />
                                            <li th:unless="*{#strings.isEmpty(institution)}" th:text="'Institution: ' + *{institution}" />
                                            <li th:unless="*{#strings.isEmpty(school)}" th:text="'School: ' + *{school}" />
                                            <li th:unless="*{#strings.isEmpty(type)}" th:text="'Type: ' + *{type}" />
                                        </ul>
                                    </li>
                                </ul>                          -->

            </div>
        </div>
    </body>
</html>